<div
  class="card"
  [ngClass]="{
    'all-C-Styles': category === 'all',
    'electronics-C-Styles': category === 'electronics',
    'jewelery-C-Styles': category === 'jewelery',
    'mens-C-Styles': category === 'men\'s clothing',
    'womens-C-Styles': category === 'women\'s clothing'
  }"
>
  <img [src]="product.image" alt="" width="100%" height="270" />
  <h4>{{ product.title }}</h4>
  <br />
  <h4 style="color: green">{{ product.category }}</h4>
  <br />
  <p>$ {{ product.price }}</p>
  <br />
  <button (click)="switchToProductDetails(product.id)">Product Details</button
  ><br />
</div>
