<div style="padding: 100px">
  <button mat-raised-button (click)="openMydialog()">Open</button>

  <!-- <button mat-raised-button [mat-menu-trigger-for]="mymenu">Select Tech</button>

  <mat-menu #mymenu>
    <button mat-menu-item [mat-menu-trigger-for]="myreactmenu">react</button>
    <button mat-menu-item>angular</button>
    <button mat-menu-item>java</button>
  </mat-menu>

  <mat-menu #myreactmenu yPosition="above">
    <button mat-menu-item [mat-menu-trigger-for]="mystatemenu">state</button>
    <button mat-menu-item>props</button>
    <button mat-menu-item>compoennt</button>
  </mat-menu>

  <mat-menu #mystatemenu yPosition="below" xPosition="after">
    <button mat-menu-item>varibale</button>
    <button mat-menu-item>setter</button>
    <button mat-menu-item>useState</button>
  </mat-menu> -->

  <!-- <mat-vertical-stepper>
    <mat-step label="Personal Details">
      <mat-form-field>
        <input matInput placeholder="enter name" /> </mat-form-field
      ><br />
      <mat-form-field>
        <input type="email" matInput placeholder="enter email" />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Address Details">
      <mat-label>Choose an option</mat-label>
      <mat-select>
        <mat-option>select city</mat-option>
        <mat-option>pune</mat-option>
        <mat-option>mumbai</mat-option>
      </mat-select>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Educational Details">
      <mat-label>Select Degree</mat-label>
      <mat-select>
        <mat-option>Graduation</mat-option>
        <mat-option>Post Graduation</mat-option>
      </mat-select>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-vertical-stepper> -->

  <!-- <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Users Info</mat-card-title>
      <mat-card-subtitle>personal data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>username</dt>
        <dd>vicky jaiswal</dd>
      </dl>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions align="end">
        <button mat-raised-button>Cancel</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card> -->

  <!-- <h1>Button in Angular</h1>
  <button mat-button>Login</button>
  <button mat-flat-button>Logout</button>
  <button mat-stroked-button>Like</button>
  <button mat-raised-button>Basic</button>
  <button mat-icon-button>
    <mat-icon color="primary">delete</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>credit_card</mat-icon>
  </button>

  <button mat-fab extended>
    <mat-icon>favorite</mat-icon>
    Basic
  </button> -->
</div>
