<app-nav>
  <h1 #heading style="color: white">Flipkart</h1>
  <span style="color: white" id="link">Sign in</span> </app-nav
><br />
<app-nav>
  <h1 #heading style="color: cornsilk">Amazon</h1>
  <span style="color: white" id="link">Login</span>
</app-nav>
<!-- <app-nav>
  <h2 id="titleh2" style="color: white">Hello I am h2</h2>
  <p class="mypara" style="color: white">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, quis!
  </p>
</app-nav> -->

<!-- <app-tdf></app-tdf> -->

<!-- <div #container style="padding: 50px">
  <h2 #title>Template Reference Variable</h2>
  <h3 #title>This is Sub title</h3>
  <br />
  <button (click)="changeTitle(container)">Change Title</button>
</div> -->
<!-- <router-outlet> </router-outlet> -->
