<div class="categories">
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/4d6b13d5a0e0724a.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Electronics</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
  <div>
    <img
      src="https://rukminim2.flixcart.com/fk-p-flap/96/96/image/cd6aca4f61e8ea95.png?q=100"
      width="70"
      height="70"
    /><br />
    <h4>Mobiles &<br />Tablets</h4>
  </div>
</div>
