<div class="attContainer">
  <select (change)="changeStyle($event)">
    <option value="red">red</option>
    <option value="blue">blue</option></select
  ><br /><br /><br />

  <h2
    [ngStyle]="{
      color: textColor,
      'background-color': bgcolor,
      padding: padding
    }"
  >
    This is ngStyle Example
  </h2>
</div>

<!-- <div [ngClass]="divClass">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corporis
    porro minus atque nisi dolores maiores aspernatur ad asperiores nobis.
    Dignissimos aperiam modi culpa perferendis, dolore eligendi iusto architecto
    iure?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
    asperiores ipsum modi nemo quisquam nihil sint enim facilis maxime. Facere
    illo architecto in! Debitis saepe quas quod et veniam necessitatibus id ipsa
    ad! Non maiores minima illum explicabo nam exercitationem, asperiores,
    soluta cum a animi maxime, porro quidem officia quod eveniet. Similique
    laboriosam error harum dolore earum rem eaque vel tenetur accusantium
    reiciendis nam, quidem nulla minima nemo! Quam, quisquam!
  </p>
</div> -->

<!-- <div [ngClass]="{ green: true, blue: false }">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corporis
    porro minus atque nisi dolores maiores aspernatur ad asperiores nobis.
    Dignissimos aperiam modi culpa perferendis, dolore eligendi iusto architecto
    iure?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
    asperiores ipsum modi nemo quisquam nihil sint enim facilis maxime. Facere
    illo architecto in! Debitis saepe quas quod et veniam necessitatibus id ipsa
    ad! Non maiores minima illum explicabo nam exercitationem, asperiores,
    soluta cum a animi maxime, porro quidem officia quod eveniet. Similique
    laboriosam error harum dolore earum rem eaque vel tenetur accusantium
    reiciendis nam, quidem nulla minima nemo! Quam, quisquam!
  </p>
</div>

<div [ngClass]="{ green: false, blue: true }">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corporis
    porro minus atque nisi dolores maiores aspernatur ad asperiores nobis.
    Dignissimos aperiam modi culpa perferendis, dolore eligendi iusto architecto
    iure?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
    asperiores ipsum modi nemo quisquam nihil sint enim facilis maxime. Facere
    illo architecto in! Debitis saepe quas quod et veniam necessitatibus id ipsa
    ad! Non maiores minima illum explicabo nam exercitationem, asperiores,
    soluta cum a animi maxime, porro quidem officia quod eveniet. Similique
    laboriosam error harum dolore earum rem eaque vel tenetur accusantium
    reiciendis nam, quidem nulla minima nemo! Quam, quisquam!
  </p>
</div> -->

<!-- <div [ngClass]="{ green: divClass, blue: !divClass }">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corporis
    porro minus atque nisi dolores maiores aspernatur ad asperiores nobis.
    Dignissimos aperiam modi culpa perferendis, dolore eligendi iusto architecto
    iure?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
    asperiores ipsum modi nemo quisquam nihil sint enim facilis maxime. Facere
    illo architecto in! Debitis saepe quas quod et veniam necessitatibus id ipsa
    ad! Non maiores minima illum explicabo nam exercitationem, asperiores,
    soluta cum a animi maxime, porro quidem officia quod eveniet. Similique
    laboriosam error harum dolore earum rem eaque vel tenetur accusantium
    reiciendis nam, quidem nulla minima nemo! Quam, quisquam!
  </p>
</div>

<div [ngClass]="{ green: !divClass, blue: divClass }">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, corporis
    porro minus atque nisi dolores maiores aspernatur ad asperiores nobis.
    Dignissimos aperiam modi culpa perferendis, dolore eligendi iusto architecto
    iure?Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
    asperiores ipsum modi nemo quisquam nihil sint enim facilis maxime. Facere
    illo architecto in! Debitis saepe quas quod et veniam necessitatibus id ipsa
    ad! Non maiores minima illum explicabo nam exercitationem, asperiores,
    soluta cum a animi maxime, porro quidem officia quod eveniet. Similique
    laboriosam error harum dolore earum rem eaque vel tenetur accusantium
    reiciendis nam, quidem nulla minima nemo! Quam, quisquam!
  </p>
</div> -->
