<div class="dashboard-container">
  <aside class="sidebar">
    <h3>Menu</h3>
    <ul class="nav-links">
      <li><a routerLink="details">Details</a></li>
      <li><a routerLink="changepassword">Change Password</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="payments">Payment History</a></li>
      <li><a routerLink="fav">Favourites</a></li>
      <li><a routerLink="cart">Add to Cart</a></li>
      <li><a routerLink="setting">Settings</a></li>
    </ul>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
