<h2 mat-dialog-title>Main title</h2>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae illum
    atque earum accusantium aut nulla numquam, debitis esse soluta. Minus, nam
    quasi omnis debitis vitae optio exercitationem earum quisquam voluptatum
    praesentium facilis atque asperiores fugiat natus, dignissimos quidem minima
    nobis culpa incidunt modi quia magni. Ad non voluptatum enim dolorem
    necessitatibus placeat itaque, perspiciatis odio delectus doloribus. Amet
    ullam voluptatibus ab atque tempore. Voluptatibus sint quas atque corporis
    ducimus totam, natus hic quia eaque qui quos numquam. Commodi at veritatis
    labore voluptatum amet voluptatem consequatur dolor delectus esse a cumque
    architecto illo quo nostrum rem explicabo fuga dignissimos expedita, nemo
    culpa eaque animi earum eligendi! Molestiae itaque qui laboriosam nostrum!
    Reiciendis cumque iste corporis velit omnis libero nihil. Quibusdam
    explicabo eligendi, minima enim soluta illum quod blanditiis saepe et ipsum
    dolor commodi voluptatibus dolores quaerat perspiciatis provident odit
    impedit, tenetur veniam numquam doloremque id unde maxime? Doloremque
    incidunt commodi facilis, accusamus odit cumque esse dolor non dicta iusto
    culpa, numquam labore minima. Sit vitae exercitationem architecto alias
    voluptates facere laborum saepe recusandae dicta earum, pariatur,
    perspiciatis molestiae impedit optio ipsam quae at minus et. Molestiae alias
    eaque suscipit fugit sapiente numquam maxime exercitationem sint ullam.
    Illum tempora ullam temporibus consequatur?
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close>Proceed</button>
</mat-dialog-actions>
