<div style="padding: 100px">
  <select (change)="findDesignation($event)">
    <option>Select the Experience</option>
    <option>3</option>
    <option>5</option>
    <option>8</option>
    <option>11</option></select
  ><br /><br />

  @switch(experience){ @case("3"){
  <h1 style="color: blue">He is Senior Engineer</h1>
  } @case("5"){
  <h1 style="color: green">He is Team Lead</h1>
  } @case("8"){
  <h1 style="color: coral">He is Team Manager</h1>
  } @case("11"){
  <h1>He is Project Manager</h1>
  } @default {
  <h1 style="color: red">Select Experience Value</h1>
  } }

  <!-- <div>
    <input type="radio" name="role" (change)="changeRole(true)" />Admin
    &nbsp;&nbsp;
    <input type="radio" name="role" checked (change)="changeRole(false)" />User
  </div>
  <br />

  @if(isAdmin){
  <h2>Admin Panel</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam alias
    nisi qui assumenda voluptates enim aperiam earum quaerat, tenetur, nobis
    voluptatibus blanditiis nulla nesciunt accusamus sed eligendi sunt dolores!
    Quidem reiciendis animi, magni harum at provident earum accusamus fuga,
    cumque, nihil asperiores quasi aliquam libero sapiente neque sint eligendi
    veniam iure nam maiores quos labore officiis voluptatum omnis? Deserunt
    commodi quasi culpa distinctio praesentium labore, porro architecto
    cupiditate. Placeat earum officiis dolorem iste aliquam eum fugiat corporis
    dicta ipsum officia sint ab ratione reiciendis veniam molestiae aperiam,
    aliquid cum? Odit, laboriosam? Sequi totam provident ipsa a dicta maiores
    inventore excepturi voluptas magnam laboriosam! Rem minus maxime sed ipsa
    voluptatem id eligendi doloribus officiis, praesentium ab. Praesentium
    adipisci doloribus, dolore repudiandae, dolorum sunt inventore consequuntur
    suscipit ea ipsam laudantium amet fugiat pariatur. Asperiores at autem iure?
    Nihil soluta ipsa, distinctio perferendis veniam, praesentium cupiditate,
    non in nobis reprehenderit tempore? Modi commodi explicabo est ipsam minus
    totam perferendis voluptatum, quis dolore quidem ducimus optio dignissimos
    harum rerum ab quia hic beatae dolorum. Perferendis quam laudantium
    molestiae eligendi fugit, quod quibusdam incidunt facere sed illum minus
    consequatur dolor nemo maiores. Cupiditate ipsum eveniet accusamus, quia
    quam voluptates, similique hic velit eaque exercitationem repudiandae?
  </p>
  } @else {
  <h2>User Panel</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis,
    consequatur? Ipsum minima, distinctio officiis iure commodi repellat.
    Aliquam suscipit fuga soluta adipisci eum voluptatem aut accusamus,
    explicabo, atque qui numquam quidem facilis eveniet impedit voluptates
    porro. Qui eos iure esse. Eligendi error vel odio saepe eaque dolore culpa
    cum enim, eveniet, aut adipisci repellat. Voluptatem laborum vel corporis a
    aut reiciendis ipsam dolorum et eius rem quidem aliquam possimus alias
    libero veritatis ex autem, laudantium accusamus ut ad. Eius aut nobis,
    accusamus quis officia culpa adipisci quae vel ratione quo nemo nam facilis
    doloremque autem natus fuga exercitationem velit non.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ad
    praesentium possimus mollitia omnis doloremque excepturi, iusto deserunt.
    Impedit sunt distinctio aut maxime voluptatum nesciunt quo expedita
    necessitatibus porro. Harum nostrum, aspernatur culpa amet praesentium
    blanditiis dolorum saepe eius fuga tenetur reprehenderit sed ullam sint
    quidem est ipsa tempore nulla eligendi. Provident tempore ex enim possimus
    distinctio iusto animi repellendus itaque, a alias beatae cum praesentium
    officiis similique accusamus quisquam est explicabo deserunt aut cumque,
    dolorem pariatur delectus. Natus recusandae repudiandae pariatur maxime.
    Veniam voluptate debitis adipisci aut officiis excepturi porro pariatur.
    Repellendus voluptates quibusdam facere, beatae, accusantium sequi fugit
    deserunt sunt ab porro debitis eius voluptatem dicta quod molestias est
    suscipit similique amet aspernatur, mollitia velit? Nemo aspernatur rem
    necessitatibus sunt repellat quisquam vitae ratione expedita odio! Impedit
    facilis eos inventore. Quas sunt, voluptatibus accusantium accusamus,
    laborum a dolore quis numquam magni qui repudiandae? Doloremque sint animi,
    beatae libero cupiditate, labore quis iusto perferendis eveniet laboriosam
    neque nostrum. Aut odit aliquid, magnam necessitatibus alias ullam possimus
    reiciendis quas dolorem quam consectetur vel reprehenderit eaque eveniet
    debitis nihil sint dicta hic deserunt eos saepe ex blanditiis! Quibusdam
    consequatur quis nulla, incidunt accusantium rem laboriosam quas ab
    voluptates quam exercitationem facere sint! Dicta expedita fuga qui
    laudantium eius labore sequi omnis sit iure, est suscipit a nobis cumque,
    eaque voluptatem fugiat. Libero aspernatur enim nemo ea dolor eveniet
    consequuntur esse aut architecto. Sed sunt explicabo id, eum esse dolorem
    quidem hic repudiandae qui ab ipsam aperiam expedita? Nemo similique
    perferendis, officia, quidem alias eveniet distinctio commodi pariatur
    consequatur blanditiis ipsam iste nulla ipsum accusantium nobis obcaecati
    tenetur maxime autem quasi sapiente! Ab, facilis earum? Repellat quibusdam
    hic atque sit vitae esse, beatae culpa, obcaecati est voluptas id provident?
    Harum animi, consectetur earum eaque, vero facilis, aperiam accusamus
    suscipit aliquam eveniet omnis.
  </p>
  } -->

  <!-- @if(isAdmin){
  <p id="p1">This is Admin Panel</p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit pariatur eos
    quibusdam accusamus quos et nisi aperiam debitis necessitatibus ad dolores
    aut beatae dolorem dicta voluptatem ipsam dignissimos quod, quas voluptates
    cum atque possimus deserunt. Adipisci placeat iusto necessitatibus eius
    veniam est voluptatibus suscipit, maxime quaerat quia, atque sapiente,
    obcaecati ipsa eum provident incidunt modi nulla ab reprehenderit aspernatur
    doloribus rerum. Architecto illo, officiis, amet impedit corrupti velit
    perspiciatis, aut dolorum sunt reiciendis veniam porro aperiam earum ipsa
    labore exercitationem suscipit dolore quae deserunt? Officia eos omnis
    reiciendis accusamus, assumenda ipsa in repellat velit tempore sed neque
    molestiae natus nesciunt.
  </p>
  <button>Submit</button>
  } 
  
  @if(!isAdmin){
  <p id="p2">This is User Panel</p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, placeat
    quas voluptatem possimus quisquam voluptas natus sunt repellat aut, veniam
    dolore est neque ea vel aliquam facere mollitia sit atque error provident
    nihil. Amet soluta placeat, tempore maiores fugit consequatur laboriosam
    tenetur veritatis pariatur, neque aliquam culpa quis aliquid suscipit
    consequuntur assumenda facere possimus eos dolores ratione optio libero
    molestias sunt blanditiis? Sit ut libero quis rem incidunt nesciunt cum ab,
    consequuntur, illum quibusdam est obcaecati, hic esse ipsum corporis aliquam
    facere laborum! Dolore exercitationem atque quia eius autem eveniet, odio
    eos, deleniti asperiores officiis a illum quas expedita non.
  </p>
  <button>Explore</button>
  } -->
</div>
