<!-- <div style="padding: 50px">
  <h2>ng-Template & ng-Container concept</h2>
</div>

<ng-template #mytemp>
  <div class="card">
    <img
      src="https://i.pinimg.com/originals/90/c0/51/90c051810494297069df2b6b9a450c15.jpg"
      width="300"
      height="200"
    /><br /><br />
    <h3>Raj Verma</h3>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam corrupti
      ex omnis.
    </p>
  </div>
</ng-template>

<div id="section-1">
  <ng-container [ngTemplateOutlet]="mytemp"></ng-container>
</div>

<div id="section-2">
  <ng-container [ngTemplateOutlet]="mytemp"></ng-container>
</div>

<div id="section-3"></div>

<div id="section-4">
  <ng-container [ngTemplateOutlet]="mytemp"></ng-container>
</div> -->

<app-reactive-forms></app-reactive-forms>
